@model List<RoomModel>

@{
    ViewData["Title"] = ViewBag.CurrentStatus == 1 ? "Habitaciones en Villahermosa" : "Casa del Caribe en Playa del Carmen";
}
<h1>@ViewData["Title"]</h1>

@if (ViewBag.CurrentStatus == 1)
{
    <p>Departementos & Habitaciones con servicios incluidos, muebles y accesorios, con diferentes estilos cada una. En <b>¡Zona no inuntable!</b></p>
}
else
{
    <p>Hermosas Casa del Caribe con piscina, todos los servicios incluidos & en privada residencial.</p>
}

<head>
    <link rel="stylesheet" href="~/css/rooms.css" asp-append-version="true" />
</head>
<div class="room-list">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var room in Model)
        {
            <div class="col">
                <div class="card shadow-sm">
                    <img src="@room.ImagenPrincipal" alt="@room.Name" class="bd-placeholder-img card-img-top" width="100%" height="225" focusable="false">
                    <div class="card-body">
                        <h2 class="card-text">@room.Name</h2>
                        <hr />
                        <p class="card-text">@room.DescriptionCard</p>
                        <p class="card-text">@room.Address</p>
                        <p class="card-text">Renta de @room.Estancia</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Rooms" asp-action="Detalles" asp-route-id="@room.Id" asp-route-status="@ViewBag.CurrentStatus" class="btn btn-sm btn-outline-secondary">Información</a>
                            </div>
                            <small class="text-body-secondary">$@room.Price x Mes</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>